<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aitp.r3conf.org.team12mobileapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewCategories"
            android:label="@string/title_activity_view_categories" >
        </activity>
        <activity
            android:name=".ViewItemList"
            android:label="@string/title_activity_view_item_list" >
        </activity>
        <activity
            android:name=".ViewItemDetails"
            android:label="@string/title_activity_view_item_details" >
        </activity>
        <activity
            android:name=".AddItemToCart"
            android:label="@string/title_activity_add_item_to_cart" >
        </activity>
        <activity
            android:name=".DisplayCart"
            android:label="@string/title_activity_display_cart" >
        </activity>
        <activity
            android:name=".Checkout"
            android:label="@string/title_activity_checkout" >
        </activity>
        <activity
            android:name=".LocateStore"
            android:label="@string/title_activity_locate_store" >
        </activity>
    </application>

</manifest>
